div.content fieldset{
background-color: #F4F4F4;
line-height:165%;
margin:2em auto;
text-align:left;
width:350px;
}
div.content legend{
font-weight: bold;
}
#botones{
width: 380px;
margin: 0 auto;
text-align:right;
}
div.acceso{
margin-top: 10px;
}